/* 
  Base stylesheet for all pages of the project
*/

body {
    background-color: #eeeeee;
}

.nav-pills .nav-link:hover {
    background-color: #343a40;
}

#page_container {
  height:   100vh;
  overflow: hidden;
}

#page_content {
  height:     100vh;
  overflow-y: scroll;
}