{% extends "base.html" %}

{% comment %}
    Displays the details of a given device
{% endcomment %}

{% block content %}

    <div class="row gx-3">
       
      <div class="col-7">
        <form 
            action = "{% url 'devices:edit' device.id %}"   
            method = "post"
            class  = "rounded bg-light mb-auto p-3"
        >
            {% csrf_token %}

            <fieldset>
                {% if error_message %}<p>{{ error_message }}</p>{% endif %}

                {% comment %} Friendly name {% endcomment %}
                <label for="name" class="form-label">Name:</label>
                <input 
                    type  = "text"
                    name  = "name"
                    value = "{{ device.name }}"
                    class = "form-control"
                >

                {% comment %} Hardware ID (immutable) {% endcomment %}
                <label for="hwID" class="form-label mt-3">Hardware ID:</label>
                <input 
                    type  = "text"
                    name  = "hwID"
                    value = "{{ device.hwID }}"
                    class = "form-control"
                    readonly
                    disabled
                >
            </fieldset>

            {% comment %} Submit button {% endcomment %}
            <input 
                type  = "submit"
                class = "btn btn-primary mt-5"
                value = "Save"
            >
        </form>
      </div>
        

        {% comment %} Map showing the location history of the device {% endcomment %}
        {% if location_json %}
          <div class="col-5">
            <div class="rounded shadow-sm pl-3" style="height: 300px; overflow: hidden;">
              {% include "location/map.html" with location_json=location_json %}
            </div>
          </div>
        {% endif %}
    </div>

    <div class="row gx-3 pt-5">
      <div class = "col-6">
          {% include "devices/config.html" with currConf=device.config staticSet=1 name="currConfig" %}
      </div>

      <div class = "col-6">
        {% include "devices/config.html" with configs=configs name="newConf" deviceConfSet=1 device=device %}
      </div>
    </div>
{% endblock %}