{% extends "base.html" %}

{% comment %}
    Template for displaying a list of the current devices
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% block content %}

    {% comment %} Map showing the location of each device {% endcomment %}
    {% if location_json %}
        <div class="row gx-0 rounded shadow-sm" style="height: 350px; overflow: hidden;">
            {% include "location/map.html" with location_json=location_json %}
        </div>
    {% endif %}

    <div class="row mt-4 gx-0 rounded" style="overflow: hidden;">
        {% if device_list %}
            <table id="devices_table" class="table">
                {% comment %} Table headers {% endcomment %}
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Hardware ID</th>
                        <th scope="col">Last Seen</th>
                        <th scope="col">{# Actions #}</th>
                    </tr>
                </thead>

                {% for device in device_list %}
                <tr>
                    {% comment %} If device name is not set, default to hwID {% endcomment %}
                    {% if device.name %}
                        <td>{{ device.name }}</td>
                    {% else %}
                        <td>{{ device.hwID }}</td>
                    {% endif %}
                    <td>{{ device.hwID }}</td>
                    <td>{{ device.lastSeen }}</td>
                    <td>
                        <a href="{% url 'devices:detail'  device.id %}"><button class="btn btn-sm btn-outline-primary">Details</button></a>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <p class="d-inline-flex gap-1">
                {% comment %} Link to location history page (all devices) {% endcomment %}
                <a href="{% url 'location:index' %}"><button class="btn btn-primary">All device history</button></a>
                
                {% comment %} Link to configuration page (all configs) {% endcomment %}
                <a href="{% url 'devices:confIndex' %}"><button class="btn btn-primary">Configurations</button></a>
            </p>
        {% else %}
            <p>No devices are available.</p>
        {% endif %}
    </div>

{% endblock %}