{% extends "base.html" %}

{% comment %}
    Displays the details of a given device
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% block content %}
    
    {% comment %} Map showing the location history of the device {% endcomment %}
    {% if device_location_list %}
        {% include "location/map.html" with location_list=device_location_list connect_points=1 %}
    {% endif %}


    <p>Edit {{ device.name }}</p>
    
    <form 
      action = "{% url 'devices:edit' device.id %}"   
      method = "post"
    >
        {% csrf_token %}

        <fieldset>
          {% if error_message %}<p>{{ error_message }}</p>{% endif %}

          <label for="name" class="form-label">Name:</label>
          <input 
            type  = "text"
            name  = "name"
            value = "{{ device.name }}"
            class = "form-control"
          >

          <label for="hwID" class="form-label">Hardware ID:</label>
          <input 
            type  = "text"
            name  = "hwID"
            value = "{{ device.hwID }}"
            class = "form-control"
            readonly
          >

        </fieldset>

        <input 
          type  = "submit"
          class = "btn btn-primary"
        >
    </form>
{% endblock %}