{% extends "base.html" %}

{% comment %}
    Displays the details of a given device
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% block content %}
    <p>Edit {{ device.name }}</p>
    
    <form action = "{% url 'devices:edit' device.id %}"   
          method = "post"
          class  = "mb-3"
    >
        {% csrf_token %}

        <fieldset>
          {% if error_message %}<p>{{ error_message }}</p>{% endif %}

          <label for="name" class="form-label">Name:</label>
          <input 
            type  = "text"
            name  = "name"
            value = "{{ device.name }}"
          >

          <label for="hwID">Hardware ID:</label>
          <input 
            type  = "text"
            name  = "hwID"
            value = "{{ device.hwID }}"
            readonly
          >

        </fieldset>

        <input type="submit">
    </form>
{% endblock %}