{% comment %} 
    Map component that displays an interactive map given a list of location
    objects.

    TODO: This is probably not the best way to do this but things are a little too up in the 
          air right now to make this into a proper extension of the base template.
{% endcomment %}

{% load static %}


{% block map %}
    <div id="map" style="height: 100%"></div>
{% endblock %}

{% block map_script %}
  {% comment %} Leaflet (maps) {% endcomment %}
  <script src="{% static './leaflet/leaflet-src.js' %}"></script>

  <script>
      {% comment %} Create map and add tiles {% endcomment %}
      var map = L.map('map').setView([43.262071, -79.918834], 13);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom:      19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);


      {% comment %} Iterate over locations and add to map {% endcomment %}
      var marker, position, circle, popup_text;
      var line = [];
      
      {% for location in location_list %}
          position   = [{{ location.latitude }}, {{ location.longitude }}];
          popup_text = "<a href='{% url 'devices:detail' location.device.id %}'>{{ location.device.name }}</a><br/>{{ location.datetime }}";

          circle = L.circle(position, {
            color:      'white',
            fillColor:  'yellow',
            fillOpacity: 0.5,
            radius:      10     // TODO: Should be relative to accuracy
          });


          {% comment %}
              Add a pin for each location. 
              Do not add the popup to the circles if pins exist.
          {% endcomment %}
          {% if all_pins %}
            marker = L.marker(position);
            marker.bindPopup(popup_text);
            marker.addTo(map);
          {% else %}
            circle.bindPopup(popup_text);
          {% endif %}

          circle.addTo(map);

          

          line.push(position);
      {% endfor %}

      {% comment %} Add a pin for the last location {% endcomment %}
      marker = L.marker(position);
      marker.bindPopup(popup_text);
      marker.addTo(map);

      {% comment %} Add the path to map {% endcomment %}
      {% if connect_points %}
        L.polyline(line).addTo(map);
      {% endif %}
  </script>
{% endblock %}