{% comment %}
    base.html: This is the base for all templates used in the project.
               The base template contains the basic page strucutre (header, footer, etc).
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>BloomBot - {{page_title|title}}</title>  
    
        {% comment %} Bootstrap CSS import {% endcomment %}
        <link href="{% static './bootstrap-5.3.2-dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static './bootstrap-5.3.2-dist/bootstrap-icons-1.11.2/font/bootstrap-icons.min.css' %}" rel="stylesheet">
        
        {% comment %} 
          Datatables for enhanced HTML tables 
          TODO: Should really only load this on pages that actually need it.
        {% endcomment %}
        <link href="{% static './DataTables/datatables.min.css' %}" rel="stylesheet">


        {% comment %} 
          Leaflet (maps)
          TODO: Should really only load this on pages that actually need it.
        {% endcomment %}
        <link href="{% static './leaflet/leaflet.css' %}" rel="stylesheet"/>

    </head>

    <body style="overflow-x: hidden;">
        {% comment %}
          Navbar
        {% endcomment %}
        <div class="row gx-0" style="height: 100vh;">
            <nav class="col-2 p-3 text-white bg-dark">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">BloomBot</span>
                </a>
                <hr/>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                      <a href="#" class="nav-link text-white">
                          <i class="bi me-2 bi-speedometer2"></i>
                          Dashboard
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'devices:index' %}" class="nav-link text-white {% if page_category == 'device' %}active{% endif %}">
                        <i class="bi me-2 bi-cursor"></i>
                          Devices
                      </a>
                    </li>
                    <li>
                        <a href="{% url 'sensor_data:index' %}" class="nav-link text-white {% if page_category == 'sensor_data' %}active{% endif %}">
                            <i class="bi me-2 bi-clipboard-data"></i>
                            Sensor Data
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-10 p-0">
                {% block    content %}
                {% endblock content %}
            </div>
        </div>
    
    </body>

    {% comment %} Bootstrap JS Import {% endcomment %}
    <script src="{% static './bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    {% comment %} Datatables JS import {% endcomment %}
    <script src="{% static './jQuery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static './DataTables/datatables.min.js' %}"></script>

    {% block    js %}
    {% endblock js %}

</html>  