{% comment %}
    base.html: This is the base for all templates used in the project.
               The base template contains the basic page strucutre (header, footer, etc).
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html>
    {% include "head.html" %}

    <body>
        <div class="container-fluid p-0" id="page_container">
            <div class="row gx-0">
      
                {% comment %}
                  Navbar
                {% endcomment %}
                {% include "navbar.html" %}

                {% comment %} 
                    Page content and title
                {% endcomment %}
                <div class="col-10">
                    <div class="container-fluid m-0 pt-4" id="page_content">
                        <div class="container-fluid ps-3 m-0">
                            {% if page_title %}
                                <div class="row gx-0 mb-3">
                                    <h1 class="text fs-1 mt-1">{{ page_title|title }}</h1>
                                </div>
                            {% endif %}
                            
                            {% block    content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} {% include "footer.html" %} {% endcomment %}
        </div>


        {% comment %} 
          Timezone Detection 
        {% endcomment %}
        {% load tz_detect %}
        {% tz_detect %}
    </body>

    {% comment %} 
      JS Script Imports
    {% endcomment %}

    {% comment %} Bootstrap JS Import {% endcomment %}
    <script src="{% static './libraries/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>

    {% comment %} Datatables JS import {% endcomment %}
    <script src="{% static './libraries/jQuery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static './libraries/DataTables/moment.min.js' %}"></script>
    <script src="{% static './libraries/DataTables/datatables.min.js' %}"></script>

    {% comment %} 
      Custom JS 
      TODO: This should be restructured.
    {% endcomment %}
    {% block    js %}
    {% endblock js %}

</html>  