{% extends "base.html" %}
{% load static %}

{% comment %}
    Template for displaying a table of measurements
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project

    TODO: Need to account for no data from the API and display a message.
{% endcomment %}

{% block content %}

    <style>
      .column {
        float: left;
        width: 25%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear:   both;
      }
    </style>

    <div class="row" style="width: 100%;">
      {% for sensor in sensor_list %}
      <div class="column"><canvas id="sensor_chart_{{ sensor.name }}"></canvas></div>
      {% endfor %}
    </div>

    <table id="measurement_table" class="table">
        {% comment %} Table headers {% endcomment %}
        <thead>
            <tr>
                <th scope="col">Device</th>
                <th scope="col">Sensor Type</th>
                <th scope="col">Value</th>
                <th scope="col">Unit</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
    </table>

{% endblock %}

{% block js %}
    {% comment %} ChartJS Import {% endcomment %}
    <script src="{% static './libraries/chartjs/chart.min.js' %}"></script>
    <script src="{% static './libraries/chartjs/moment_adapter.min.js' %}"></script>

    {% comment %} Import handler for measurement data {% endcomment %}
    <script src="{% static './js/MeasurementDataHandler.js' %}"></script>

    <script>
        {% comment %}
          Declare the table and table data array
        {% endcomment %}
        table = new DataTable("#measurement_table", {
                      columns: [
                          { 
                              data:   "device",
                              render: function(data) {
                                  // TODO: Should be server side? 
                                  // TODO: Link should not be static.
                                  device_link = "{{ request.get_host }}/devices/" + data.id;
                              
                                  // If the device name is not set, default to the hwID
                                  // TODO: Links need cleanup
                                  if (!data.name)
                                    return "<a href='http://" + device_link + "'>" + data.id + "</a>";

                                  return "<a href='http://" + device_link + "'>" + data.name + "</a>";
                              }
                          },
                          { 
                              data:   "sensor",
                              render: function(data) {
                                  return data.name;
                              }
                          },
                          { 
                              data:   "value",
                          },
                          {
                              unit: "unit", 
                              render: function(data, type, row, meta) {
                                  return row.sensor.unit; 
                              }
                          },
                          { 
                              data: "datetime",
                              render: DataTable.render.datetime('Do MMM YYYY, HH:mm'),
                          }
                      ]
                  });


        {% comment %} 
        Create an instance of the measurement data handler class
        Manages calls to the API and data parsing.
        {% endcomment %}
        endpoint = "http://{{ request.get_host }}/api/measurements/"; // TODO: Needs cleanup

        {% comment %} 
          Declare the chart object
        {% endcomment %}
        {% for sensor in sensor_list %}
          {{ sensor.name }} = new Chart(
          document.getElementById('sensor_chart_{{ sensor.name }}'),
          {
              type: 'line',
              showLine: false,            
              data: {
                  datasets: []
              },
              options: {
                  scales: {
                      x: {
                          type: 'time',
                          time: {
                              displayFormats: {
                                  day:    "MMM D",
                                  minute: "MMM D m"
                              }
                          }
                      }
                  }
              }
          }
        );
        handler_{{ sensor.name }}  = new MeasurementDataHandler(endpoint, new_data_callback,{{ sensor.pk }},"{{ sensor.name }}");
        {% endfor %}


        {% comment %} 
          Callback function that is called when new data is available
          Array of new datapoints is passed.
        {% endcomment %}
        function new_data_callback(d) {
          // Update table
          table.rows.add(d);
          table.draw();

          {% for sensor in sensor_list %}
          // Update chart
          //setSensorID({{ sensor.pk }});
          {{ sensor.name }}.data.datasets = handler_{{ sensor.name }}.device_datasets;
          {{ sensor.name }}.clear();
          {{ sensor.name }}.update();
          {{ sensor.name }}.clear();
          {{ sensor.name }}.update();
          {% endfor %}


        }

        {% comment %} 
          Update the sensor ID in the handler.
          Clear the table & chart data to prep for new values.
        {% endcomment %}
        function setSensorID(id) {
          table.clear();

          handler.setSensorID(id);
        }

    </script>
{% endblock %}