{% extends "base.html" %}
{% load static %}

{% comment %}
    Template for displaying a table of measurements
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% block content %}
    {% if measurement_list %}
        <div style="width: 800px;"><canvas id="sensor_chart"></canvas></div>

        <table id="measurement_table" class="table">
            {% comment %} Table headers {% endcomment %}
            <thead>
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">Sensor Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
      
            {% for measurement in measurement_list %}
                <tr>
                    <td>{{ measurement.device.name }}</td>
                    <td>{{ measurement.sensor.name }}</td>
                    <td>{{ measurement.value }} {{ measurement.sensor.unit }}</td>
                    <td>{{ measurement.datetime }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No measurements are available.</p>
    {% endif %}

    {% if sensor_list %}
        <button class="btn btn-primary" onclick="setSensorID(null)">All</button>
        {% for sensor in sensor_list %}
          <button class="btn btn-primary" onclick="setSensorID({{ sensor.pk }})">{{ sensor.name }}</button>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block js %}
    {% comment %} CharJS Import {% endcomment %}
    <script src="{% static './chartjs/chart.min.js' %}"></script>

    <script>
        new DataTable("#measurement_table");
    </script>

    <script>
        {% comment %} Globally accessible vars {% endcomment %}
        chart       = null;
        device_data = null;
        sensor_id   = null;
        
        {% comment %} 
          Fetch the measurement data from the API
        {% endcomment %}
        function fetchMeasurements() {
            $.ajax({
                url:      "http://localhost:8000/api/measurements/", // TODO: Change to configurable route
                method:   'GET',
                dataType: 'json',
                data: {
                    sensor : sensor_id
                },

                success: function(d) {
                    devices     = [...new Set(d.map(item => item.device))];
                    device_data = []

                    // Separate the data by device ID for each dataset
                    for (i = 0; i < devices.length; i++) {
                        filtered_data = d.filter(item => item.device == devices[i]);
                    
                        // Parse and add the dataset to the array
                        device_data.push(createDatasetObj(devices[i], filtered_data));
                    }

                    updateChart();
                }
            });
        }

        {% comment %} 
          Creates a dataset out of the passed measurement data
        {% endcomment %}
        function createDatasetObj(label, data) {
            obj = {
                label: label,
                data:  []
            }

            // Iterate over each entry and parse data for chart format
            for (j = 0; j < data.length; j++) {
                obj.data.push(
                    {
                        x: data[j].datetime,
                        y: data[j].value
                    }
                );
            }

            return obj;
        }

        {% comment %} 
          Update the chart with the device data
        {% endcomment %}
        function createChart() {
            chart = new Chart(
                document.getElementById('sensor_chart'),
                {
                    type: 'line',            
                    data: {
                        datasets: device_data
                    }
                }
            );
        }


        {% comment %} 
          Update the chart datasets
        {% endcomment %}
        function updateChart() {
            chart.data.datasets = device_data;
            chart.update();
        }


        {% comment %} 
          Function to set the HTML parsing args
        {% endcomment %}
        function setSensorID(id) {
            sensor_id = id;
            fetchMeasurements();
        }

        {% comment %} 
          Call to fetch from API
          TODO: Should run every X seconds
        {% endcomment %}
        createChart();
        fetchMeasurements();

    </script>
{% endblock %}