{% extends "base.html" %}
{% load static %}

{% comment %}
    Template for displaying a table of measurements
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% block content %}
    {% comment %} TODO: Don't really need to pass any measurement data to this anymore {% endcomment %}
    {% if measurement_list %} 
        <div style="width: 800px;"><canvas id="sensor_chart"></canvas></div>

        <table id="measurement_table" class="table">
            {% comment %} Table headers {% endcomment %}
            <thead>
                <tr>
                    <th scope="col">Device</th>
                    <th scope="col">Sensor Type</th>
                    <th scope="col">Value</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
        </table>
    {% else %}
        <p>No measurements are available.</p>
    {% endif %}

    {% if sensor_list %}
        <button class="btn btn-primary" onclick="setSensorID(null)">All</button>
        {% for sensor in sensor_list %}
            <button class="btn btn-primary" onclick="setSensorID({{ sensor.pk }})">{{ sensor.name }}</button>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block js %}
    {% comment %} ChartJS Import {% endcomment %}
    <script src="{% static './lib/chartjs/chart.min.js' %}"></script>

    {% comment %} Import handler for measurement data {% endcomment %}
    <script src="{% static './js/MeasurementDataHandler.js' %}"></script>

    <script>
        {% comment %}
          Declare the table and table data array
        {% endcomment %}
        table      = new DataTable("#measurement_table", {
                        columns: [
                          { 
                            data:   "device",
                            render: function(data) {
                              return data.name;
                            }
                          },
                          { 
                            data:   "sensor",
                            render: function(data) {
                              return data.name;
                            }
                          },
                          { 
                            data:   "value",
                          },
                          {
                            unit: "unit", 
                            render: function(data, type, row, meta) {
                              return row.sensor.unit; 
                            }
                          },
                          { data: "datetime" }
                        ]
                      });


        {% comment %} 
          Declare the chart object
        {% endcomment %}
        chart = new Chart(
          document.getElementById('sensor_chart'),
          {
              type: 'line',            
              data: {
                  datasets: []
              }
          }
        );


        {% comment %} 
          Create an instance of the measurement data handler class
          Manages calls to the API and data parsing.
        {% endcomment %}
        handler = new MeasurementDataHandler(new_data_callback);

        {% comment %} 
          Callback function that is called when new data is available
          Array of new datapoints is passed.
        {% endcomment %}
        function new_data_callback(d) {
          // Update table
          table.rows.add(d);
          table.draw();

          // Update chart
          chart.data.datasets = handler.device_datasets;
          chart.update();
        }
      

        {% comment %} 
          Update the sensor ID in the handler.
          Clear the table data to prep for new values.
        {% endcomment %}
        function setSensorID(id) {
          table.clear();

          handler.setSensorID(id);
        }

    </script>
{% endblock %}