{% extends "base.html" %}

{% comment %}
    Template for displaying a table of measurements
    TODO: Can probably abstract the list part of the template and extend it for
          each list component in the project
{% endcomment %}

{% load static %}

{% block content %}
    {% if location_json %}

        {% comment %} Map {% endcomment %}
        <div class="row gx-0 rounded shadow-sm" style="height: 500px; overflow: hidden;">
            {% include "location/map.html" with location_json=location_json %}
        </div>

        {% comment %} List of locations {% endcomment %}
        <div class="row mt-3">
            <table id="location_table" class="table">
                {% comment %} Table headers {% endcomment %}
                <thead>
                    <tr>
                        <th scope="col">Device</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Timestamp</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
      </div>
    {% else %}
        <p>No device locations are available.</p>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        {% comment %} Convert HTML table to DataTable {% endcomment %}
        var table = new DataTable("#location_table", {
          columns: [
            { 
              data:   "device",
              render: function(data) {
                // TODO: Should be server side? 
                // TODO: Link should not be static.
                device_link = "{{ request.get_host }}/devices/" + data.id;
                return "<a href='http://" + device_link + "'>" + data.name + "</a>"; // TODO: Needs cleanup
              }
            },
            { 
              data:   "latitude",
            },
            { 
              data:   "longitude",
            },
            // TODO: Needs to be formatted properly
            { data: "datetime" }
          ]
        });        

        var location_json = {% autoescape off %}{{ location_json }}{% endautoescape %};     

        // Update table
        table.rows.add(location_json);
        table.draw();
        

    </script>
{% endblock %}