{% comment %} 
    Map component that displays an interactive map given a list of location
    objects.
{% endcomment %}

{% load static %}


{% block map %}
    <div id="map" style="height: 100%"></div>
{% endblock %}

{% block map_script %}
    {% comment %} Leaflet (maps) {% endcomment %}
    <script src="{% static './libraries/leaflet/leaflet-src.js' %}"></script>

    <script>
        {% comment %} 
            Create map and add tiles 
            TODO: Should set position to include all points.
        {% endcomment %}
        var map = L.map('map').setView([43.262071, -79.918834], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom:      19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        {% comment %} 
          Data parsing
        {% endcomment %}
        {% comment %} Data variables {% endcomment %}
        var device_locations = {};
        var data             = {% autoescape off %}{{ location_json }}{% endautoescape %};     


        {% comment %} 
          Add the location to the map as a circle.
        {% endcomment %}
        function addLocationToMap(device, location) {
            position = [ location.latitude, location.longitude ];

            circle = L.circle(position, {
                color:      'white',
                fillColor:  'yellow',
                fillOpacity: 0.5,
                radius:      10     // TODO: Should be relative to accuracy
            }).addTo(map);

            circle.bindPopup(getPopup(device, location));
        }

        {% comment %} 
          Add the location to the map as a pin.
        {% endcomment %}
        function addMarkerToMap(device, location) {
            position = [ location.latitude, location.longitude ];

            marker = L.marker(position);
            marker.bindPopup(getPopup(device, location));
            marker.addTo(map);
        }

        {% comment %} 
          Get the position of all the locations and create a line to 
          connect the points.
        {% endcomment %}
        function addLineToPoints(locations) {
            positions = [];
            for (var i = 0; i < locations.length; i++) {
                positions.push([ locations[i].latitude, locations[i].longitude ]);
            }

            L.polyline(positions).addTo(map);
        }

        {% comment %} 
          Construct the HTML for the popup.
          TODO: Need to fix link. Need to fix time formatting.
        {% endcomment %}
        function getPopup(device, location) {
            return "<a href='{{ request.get_host }}/devices/" + device.id + "'>" + device.name + "</a><br/>" + location.datetime;
        }

        {% comment %} 
          Add the location data to the JSON object organized per device.
        {% endcomment %}
        function storeLocation(data) {
          // If the device has not been added to the device_locations object, 
          // create an entry for it.
          if (!(data.device.id in device_locations)) {
              device_locations[data.device.id] = {
                  "device" : {
                      "name" : data.device.name,
                      "id"   : data.device.id,
                  },
                  "locations" : []
              };
          }

          // Add the location to the device_location object
          device_locations[data.device.id].locations.push({
              "latitude"  : data.latitude,
              "longitude" : data.longitude,
              "datetime"  : data.datetime,
          });
        }

        
        {% comment %} 
          Store the locations from the passed JSON into 
          a new JSON object organized by device ID
        {% endcomment %}
        for (var i = 0; i < data.length; i++) {
            storeLocation(data[i]);
        }

        // Iterate over each of the devices and add their locations to the map
        for (let key in device_locations) {
            for (var i = 0; i < device_locations[key].locations.length; i++) {
                addLocationToMap(device_locations[key].device, device_locations[key].locations[i]);
            }

            // If the list has at least one element, place a marker on the last entry
            // and create the connecting line segments.
            if (device_locations[key].locations.length > 0) {
                addMarkerToMap(device_locations[key].device, device_locations[key].locations[device_locations[key].locations.length - 1]);
                addLineToPoints(device_locations[key].locations);
            }
        }
        
    </script>
{% endblock %}